.DS_Store
bashrc_dispatch
secrets
bash_backup
bin/.ropeproject*
bin/msgcat
bin/msgcmp
bin/msgcomm
bin/msgconv
bin/msgen
bin/msgexec
bin/msgfilter
bin/msgfmt
bin/msggrep
bin/msginit
bin/msgmerge
bin/msgunfmt
bin/msguniq
bin/sonar-runner
bin/sonar.sh
bin/subl
bin/wrapper
bin/xgettext
